.life-1 {
  margin-top: 185px;
  margin-left: 160px;
}

@media screen and (min-width: 992px) {
  .life-1 {
    margin-top: 270px;
    margin-left: 240px;
  }
}

@media screen and (min-width: 1200px) {
  .life-1 {
    margin-top: 320px;
    margin-left: 270px;
  }
}
