#about {
  padding: 20px 20px;
}

#about.container .about-text {
  text-align: left;
  padding-top: 50px;
}

.circle-1 {
  position: absolute;
  display: none;
}

@media screen and (min-width: 992px) {
  #about {
    padding: 80px 0;
  }

  #about.container .about-text {
    padding-top: 50px;
  }

  .circle-1 {
    display: block;
    width: 350px;
    left: -20px;
    margin-top: 280px;
    z-index: -10;
  }
}
