#management {
  padding: 50px 0;
  background-color: #f8f9fb;
}

#management .management-text {
  text-align: center;
}

#management .management-item {
  text-align: left;
  padding: 16px;
}

@media screen and (min-width: 992px) {
  #management {
    padding: 120px 0;
  }

  #management .management-item {
    text-align: left;
    padding: 40px;
  }
}
