#experience {
  padding: 50px 0;
  background-color: #f8f9fb;
}

#experience .experience-text {
  text-align: center;
}

#experience .experience-item {
  text-align: left;
  padding: 16px;
}

@media screen and (min-width: 992px) {
  #experience {
    padding: 120px 0;
  }

  #experience .experience-item {
    text-align: left;
    padding: 40px;
  }
}
