#experience {
  padding: 50px 20px;
  background-color: #f8f9fb;
}

#experience .experience-text {
  text-align: center;
}

#experience .experience-item {
  text-align: center;
  padding: 16px;
  justify-content: center;
}

#experience .experience-item img {
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (min-width: 992px) {
  #experience {
    padding: 120px 0;
  }

  #experience .experience-item {
    text-align: left;
    padding: 40px;
  }

  #experience .experience-item img {
    margin: 0 0;
  }
}
