#experts {
  padding: 50px 0;
  background-color: #f8f9fb;
}

#experts .experts-text {
  text-align: center;
}

#experts .experts-item {
  text-align: center;
  padding: 16px;
}

#experts .experts-item img {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  #experts {
    padding: 90px 0 80px;
  }

  #experts .experts-item {
    text-align: left;
    padding: 40px;
  }

  #experts .experts-item img {
    margin-left: 0;
    margin-right: 0;
  }
}
