.navbar {
  background-color: #ffffff;
  height: auto;
  padding: 0.5rem 0;
  box-shadow: 0 10px 30px rgb(0, 0, 0, 0.05);
}

.navbar .nav-link:hover {
  opacity: 0.5 !important;
}

.navbar .btn {
  height: 40px;
  width: 40px;
  padding: 0.5rem !important;
  border-radius: 8px !important;
}

.navbar .navar-brand {
  width: 100px;
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 0.5rem 5rem;
  }

  .navbar .navar-brand {
    width: 200px;
  }
}
